body{
	font-family: "Klavika-Light", Tahoma, sans-serif !important;
  	background: $color-background-1 !important;
	color: $color-text !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Klavika-Bold", Tahoma, sans-serif !important;
  color: $color-text;
}

a{
	font-family: "Klavika-Light", Tahoma, sans-serif !important;
}