// @file

@font-face {
  font-family: 'Klavika-Regular';
  src: url('../fonts/Klavika/Klavika-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Klavika/Klavika-Regular.otf')  format('opentype'),
	     url('../fonts/Klavika/Klavika-Regular.woff') format('woff'), url('../fonts/Klavika/Klavika-Regular.ttf')  format('truetype'), url('../fonts/Klavika/Klavika-Regular.svg#Klavika-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika-RegularItalic';
  src: url('../fonts/Klavika/Klavika-RegularItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Klavika/Klavika-RegularItalic.otf')  format('opentype'),
	     url('../fonts/Klavika/Klavika-RegularItalic.woff') format('woff'), url('../fonts/Klavika/Klavika-RegularItalic.ttf')  format('truetype'), url('../fonts/Klavika/Klavika-RegularItalic.svg#Klavika-RegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika-MediumItalic';
  src: url('../fonts/Klavika/Klavika-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Klavika/Klavika-MediumItalic.otf')  format('opentype'),
	     url('../fonts/Klavika/Klavika-MediumItalic.woff') format('woff'), url('../fonts/Klavika/Klavika-MediumItalic.ttf')  format('truetype'), url('../fonts/Klavika/Klavika-MediumItalic.svg#Klavika-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Klavika-Medium';
  src: url('../fonts/Klavika/Klavika-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Klavika/Klavika-Medium.otf')  format('opentype'),
	     url('../fonts/Klavika/Klavika-Medium.woff') format('woff'), url('../fonts/Klavika/Klavika-Medium.ttf')  format('truetype'), url('../fonts/Klavika/Klavika-Medium.svg#Klavika-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Klavika-LightItalic';
  src: url('../fonts/Klavika/Klavika-LightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Klavika/Klavika-LightItalic.otf')  format('opentype'),
	     url('../fonts/Klavika/Klavika-LightItalic.woff') format('woff'), url('../fonts/Klavika/Klavika-LightItalic.ttf')  format('truetype'), url('../fonts/Klavika/Klavika-LightItalic.svg#Klavika-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Klavika-Light';
  src: url('../fonts/Klavika/Klavika-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Klavika/Klavika-Light.otf')  format('opentype'),
	     url('../fonts/Klavika/Klavika-Light.woff') format('woff'), url('../fonts/Klavika/Klavika-Light.ttf')  format('truetype'), url('../fonts/Klavika/Klavika-Light.svg#Klavika-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Klavika-BoldItalic';
  src: url('../fonts/Klavika/Klavika-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Klavika/Klavika-BoldItalic.otf')  format('opentype'),
	     url('../fonts/Klavika/Klavika-BoldItalic.woff') format('woff'), url('../fonts/Klavika/Klavika-BoldItalic.ttf')  format('truetype'), url('../fonts/Klavika/Klavika-BoldItalic.svg#Klavika-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Klavika-Bold';
  src: url('../fonts/Klavika/Klavika-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Klavika/Klavika-Bold.otf')  format('opentype'),
	     url('../fonts/Klavika/Klavika-Bold.woff') format('woff'), url('../fonts/Klavika/Klavika-Bold.ttf')  format('truetype'), url('../fonts/Klavika/Klavika-Bold.svg#Klavika-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
