$bp-mobile: 40em;

$color-background-1: #FFFFFF; // bg-body
$color-background-2: #FFFFFF; //.l-header .l-footer
$color-background-3: #FFFFFF; //.l-content
$color-text: black;
$color-links: #fbb900;

$primary-color: #fbb900 !default;   // bondi-blue

$section-width-desktop: 85%;
$section-padding-desktop: 7.5%;

$section-width-tablette: 85%;
$section-padding-tablette: 7.5%;

$section-width-mobile: 95%;
$section-padding-mobile: 2.5%;