.breadcrumbs{
	border: none;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	background: $color-background-2;
	padding: 10px 5px;
	& > .current a {
		color: $color-links;
	}
	& > * a {
		color: $color-links;
	}
}